<div class="col-md-12">

  <div class="dropdown">

    <a class="btn btn-secondary dropdown-toggle" href="#" role="button"  data-toggle="dropdown" >
     排序
     </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
          <li> <%= link_to("按薪资上限", jobs_path(:order => "by_lower_bound")) %></li>
          <li> <%= link_to("按薪资下限", jobs_path(:order => "by_upper_bound")) %> </li>
          <li> <%= link_to("按发布时间", jobs_path) %> </li>
        </ul>

  </div>


  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Title</td>
        <td>Description</td>
        <td>更新时间 </td>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td>#</td>
          <td><%= link_to(job.title, job_path(job)) %></td>
          <td><%= job.description %></td>
          <td><%= job.created_at %> </td>
          <td>

              <%#= link_to("Edit", edit_job_path(job), class: "btn btn-sm btn-default")%>
              <%#= link_to("Delete", job_path(job),    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "Are you sure?" } )%>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
